/* Write your CSS here */
.each-event-box {
  background-color: transparent;
  width: 48%;
}

.image-list-buttons {
  background-color: transparent;
  border-width: 0px;
}

.event-image {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.event-name {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-bottom: 10px;
}

.event-location {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  margin-bottom: 35px;
  margin-top: 0px;
  font-weight: 300;
}

.highlighted-green {
  border: 2px #2dd4bf solid;
}
